html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font: 16px / 1 sans-serif;
  background-image: url(/images/cards-table.jpg);
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.deal-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  height: 4em;
  width: 12em;
  color: black;
  font-size: 32 px;
}

